.root {
    -fx-font-family: "Segoe UI";
    -fx-background-color: #f4f6f9;
}

.title {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-background-radius: 8;
}

.button:hover {
    -fx-background-color: #45a049;
}

.text-field, .password-field, .text-area {
    -fx-background-radius: 6;
}